Makefile
aclocal.m4
autom4te.cache
autoregen.sh
compile
config.*
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
gst-rubberband-*.tar.*
*~

src/.deps
src/.libs
src/libgstrubberband*
